.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #21242a;
}

.App-header,
.App-footer {
  background-color: #282c34;
  display: flex;
  align-items: center;

  height: 64px;
  z-index: 10;
}

.App-header {
  justify-content: space-between;

  padding-left: 16px;
  padding-right: 16px;
  font-size: 16pt;
  font-weight: bold;
  color: white;
}

.App-footer {
  justify-content: center;
}

.App-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
