.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
  color: white;
}

.App-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 16px;
}

.render-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera,
.output-canvas {
  /* position: absolute; */
  border-radius: 16px;
}

.output-canvas {
  z-index: 1;
  position: absolute;
  pointer-events: none;
  background-color: "#f00";
  /* transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg); */
}

.status-container {
  border-radius: 8px;
  padding: 8px;
}

.status-text {
  font-size: calc(10px + 2vmin);
  color: white;
}
